// ==========  Menu ========== */

$menu-width-5: 280px !default;
$menu-width-4: 224px !default;
$menu-width-3: 168px !default;
$menu-max-height: 304px !default;


$list-supporting-text-text-color: unquote("rgba(#{$color-black}, 0.54)");
$menu-disabled-color: unquote("rgba(#{$color-black}, 0.38)");
